In [5]:
import spacy
nlp = spacy.blank("en")
nlp.add_pipe('opentapioca')
import nltk
import json
import sqlite3
import pandas as pd
from spacy import displacy

In [6]:
doc = nlp("Red Cross said it had stepped in to help NHS England to deal with high demand after labelling it a 'humanitarian crisis', health service supporters hit back Former doctor and now Tory MP Sarah Wollast")

In [7]:
for span in doc.ents:
    print((span.text, span.kb_id, span.label_, span._.description, span._.score))

('Red Cross', 1002946122018293909, 'ORG', 'The International Red Cross and Red Crescent Movement is an international humanitarian movement', 0.12035840547996834)
('NHS England', 263394116640064106, 'ORG', 'publicly funded system of healthcare in England', 0.14759628706279504)
('MP', 12924700909064205054, 'LOC', 'American-dependent insular area in the western Pacific', 0.12679382386183946)

In [12]:
print(df['text'][1][0:200])
doc1 = nlp(df['text'][1][0:250])
print(doc1.ents)
for ent in doc1.ents:
    print(ent.text, ent.label_)

(Red Cross, NHS England, MP)

In [8]:
con = sqlite3.connect("news_data.sqlite")
cur = con.cursor()

In [9]:
cur.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cur.fetchall())

[('disasters_reliefweb',), ('search_set',), ('reference_set',), ('chad_narrow_firsthalf_2017_all',), ('chad_narrow_firsthalf_2017_relevance',), ('narrow_2017_relevance',), ('extended_2017_relevance',), ('chad_extended_firsthalf_2017_all',), ('chad_extended_firsthalf_2017_relevance',)]

In [10]:
df = pd.read_sql_query("SELECT * from reference_set", con)
df.reset_index(inplace=True)
df.head()

,index,text,load_date,headline,source,date_published,edition,copyright,length,byline,dateline,other,section,date_formatted
0,0,A major humanitarian crisis is unfolding in Et...,"November 18, 2020",'Full-scale' humanitarian crisis unfolding in ...,defenceWeb,"November 18, 2020",None,Copyright 2020 defenceWeb All Rights Reserved,473,None,None,None,None,18584.0
1,1,Red Cross said it had stepped in to help NHS E...,"January 7, 2017",'This is not Syria or Yemen': Fury as Red Cros...,MailOnline,"January 7, 2017",None,Copyright 2017 Associated Newspapers Ltd. All ...,1470,GARETH DAVIES FOR MAILONLINE,None,None,None,17173.0
2,2,Red Cross said it had stepped in to help NHS E...,"January 7, 2017",'This is not Syria or Yemen': Fury as Red Cros...,MailOnline,"January 7, 2017",None,Copyright 2017 Associated Newspapers Ltd. All ...,1700,GARETH DAVIES FOR MAILONLINE,None,None,None,17173.0
3,3,Very few international news organisations rout...,"October 17, 2018","-City, University of London: New report reveal...",ENP Newswire,"October 17, 2018",None,Copyright 2018 Normans Media Limited All Right...,572,None,None,None,None,17821.0
4,4,The London School of Hygiene & Tropical Medici...,"July 24, 2017",-London School of Hygiene & Tropical Medicine ...,ENP Newswire,"July 24, 2017",None,Copyright 2017 Normans Media Limited All Right...,598,None,None,None,None,17371.0

In [11]:
df_short = df.iloc[0:10, ]
entities = {indx: [] for indx in df_short['index']}
entities

{0: [], 1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}